<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>

    <!-- Font Icon -->
    <link rel="stylesheet" th:href="@{fonts/material-icon/css/material-design-iconic-font.min.css}">

    <!-- Main css -->
    <link rel="stylesheet" th:href="@{styles/css/register.css}">
</head>
<body>

<div class="main">

    <div class="container">
        <form method="post" th:action="@{/home/register}" th:object="${user}" class="appointment-form" id="appointment-form">
            <h2>Register form</h2>
            <div class="form-group-1">
                <input type="text" th:field="*{username}" name="username" id="username" placeholder="Username" required />
                <input type="email" th:field="*{email}" name="email" id="email" placeholder="Email" required />
                <input type="password" th:field="*{password}" name="password" id="password" placeholder="Password" required />
                <input type="text" th:field="*{urlImage}" name="image" id="image" placeholder="Image Url" required />
            </div>
            <div class="form-submit">
                <input type="submit" name="submit" id="submit" class="submit" value="Submit" />
            </div>
        </form>
    </div>

</div>
</body>
</html>